@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
.section__history {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    padding-bottom: 20px;
}

.section__history h3 {
    display: block;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.section__history p {
    font-weight: 300;
}