@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;400;500&display=swap');

:root {
  --botton-green: #007f00;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'M PLUS 1', sans-serif;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #253c59;
}

header .header-icons-container .icons {
  width: 200px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span::before {
  color: white;
  font-size: 40px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  margin-top: 0;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  height: 90px;
  object-fit: cover;
}

nav .nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .nav-items ul li {
  display: inline-block;
  margin-left: 32px;
  font-size: 1.1em;
  cursor: pointer;
}

nav .nav-items a {
  color: black;
  border-bottom: 1px solid black;
}

nav .nav-items ul li:last-child {
  background: var(--botton-green);
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
}

nav .nav-items ul li:last-child a {
  color: white;
  border: none;
}
/*estilos portada*/

.main--section {
  background-image: url('/img/portada-coliseo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
.main--section__content {
  text-align: center;
  min-height: 320px;
  min-width: 700px;
  background: linear-gradient(
    to right bottom,
    rgba(131, 131, 131, 0.301),
    rgba(0, 0, 0, 0.479)
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  border-radius: 15px;
}

.main--section__content h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
}

.main--section__content h2 {
  font-size: 25px;
}

.main--section__content p {
  font-size: 20px;
  margin: 10px 0 25px;
}

.main-button {
  background-color: var(--botton-green);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.main-button a {
  color: white;
}

.move_content {
  right: 200px;
}

.btn__menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 300ms;
  border-radius: 50%;
  display: none;
}

.btn__menu:hover {
  background: #7799e2;
}

@media screen and (max-width: 760px) {
  .cont__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn__menu {
    display: flex;
  }
  nav {
    height: 100%;
    background: rgb(8, 51, 241);
    position: fixed;
    top: 0;
    right: -200px;
    padding: 0px 40px;
    transition: all 300ms;
  }
  .move_nav {
    right: 0;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 20px 0px;
  }
}

/* estilos footer*/

footer {
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
  background-color: rgb(8, 51, 241);
  -webkit-mask-image: url(/img/background-footer.svg);
  mask-image: url(/img/background-footer.svg);
}

.cont-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box_cont_footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box_cont_footer .logo img {
  width: 130px;
}

.box_cont_footer .terminos {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box_cont_footer h2 {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
}

.box_cont_footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box_cont_footer a:hover {
  opacity: 0.8;
}

.box_cont_footer a .fab {
  font-size: 25px;
}

.box_copy {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box_copy p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box_copy hr {
  border: none;
  height: 1px;
  background-color: #343434;
}
